<div class="min-h-screen  bg-black flex flex-col items-center justify-center w-full ">

  <div class="mt-24 flex flex-col items-center justify-center w-full ">

    <label class="text-white  text-center text-3xl mt-5 mb-20">Contact Us </label>

    <div class="w-10/12  flex-col flex  justify-center items-center  my-3 element">


      <div class="flex flex-col items-center justify-center  text-white w-full mb-16">


        <ul class="text-lg">
          <li>Luni-Sambata: 08:00 – 20:00</li>
          <li class=" my-6"><a href="tel:+373 686 68 297">Telefon: +373 686 68 297</a></li>
          <li><a href="mailto:videometadoc@gmail.com">videometadoc@gmail.com</a></li>
        </ul>



      </div>
      <app-phone class="w-full flex justify-center "></app-phone>

    </div>





    <app-googleMaps class="w-full flex justify-center  my-6"></app-googleMaps>


  </div>

  <app-requestCall class="w-full "></app-requestCall>
  <app-userCallOptions class="w-full"> </app-userCallOptions>


</div>
