


<div class="flex flex-col items-center justify-center">

  <label class="text-center text-white  text-5xl mb-16 md:text-3xl  w-full">{{'AuthorizedTechnician.Authorized Technician'|translate}} </label>


<div class="w-full flex flex-wrap justify-around items-center">

  <img src="./assets/images/gallery2/v1.webp" class="h-[600px] w-[550px] border-white border-x-8 border-y-8 m-5  max-[588px]:w-[270px] max-[588px]:h-[360px]" alt="">



  <img src="./assets/images/gallery2/v2.webp" class="h-[600px]   w-[550px] border-white border-x-8 border-y-8 m-5 max-[588px]:w-[270px] max-[588px]:h-[360px]"alt="">


</div>

</div>
