

<div id="index" class="flex flex-col items-center justify-center bg-black " >


  <app-header class="w-full h-auto flex flex-col justify-center items-center"></app-header>

  <div class="w-full h-auto flex flex-col items-center justify-center">



    <app-test class="flex justify-center items-center w-11/12 bg-cover bg-center bg-current mt-14 mb-32"
      style="background-image: url('./assets/images/test/test.jpg')"> </app-test>




<app-auto-slides class="w-full"></app-auto-slides>










      <app-requestCall class="w-full "></app-requestCall>
    <app-userCallOptions class="w-full"> </app-userCallOptions>

  </div>



</div>
